<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INDIAN RESTAURENT</title>
</head>
<body>

    <h1 style="margin-left: 24rem;font-size: 3rem;font-weight: bolder;">WELCOME TO INDIAN RESTAURENT</h1>
    <img src="../ASSETS/IMAGES/INDIAN RESTAURENT/Indian-removebg-preview.png" alt="" style="width: 455px;margin-left: 32rem;">
    <img src="../ASSETS/IMAGES/INDIAN RESTAURENT/Restaurent.png" alt="" style="width: 245px;margin-left: 39rem;">
    <img src="../ASSETS/IMAGES/INDIAN RESTAURENT/10a1f5b9d736f95e4247216920970051-removebg-preview.png" alt="" style="width: 400px;margin-left: 10rem;margin-top: -15rem;">
    <hr>


    <a href="http://127.0.0.1:5500/PROJECTS/PROJECT%201/SRC/COMPONENTS/MAHARASTRA.html" target="_blank"> <img src="../ASSETS/IMAGES/MAHARASTRA RESTAURENT/Maharastra.png" alt=""style="width: 300px;margin-left: -2rem;"></a>
    <a href="http://127.0.0.1:5500/PROJECTS/PROJECT%201/SRC/COMPONENTS/GUJRAT.html" target="_blank"> <img src="../ASSETS/IMAGES/GUJRAT RESTAURENT/Gujrat.png" alt=""style="width: 395px;"></a>
    <a href="http://127.0.0.1:5500/PROJECTS/PROJECT%201/SRC/COMPONENTS/DELHI.html" target="_blank"> <img src="../ASSETS/IMAGES/DELHI RESTAURENT/Delhi.png" alt=""style="width: 395px;"></a>
    <a href="http://127.0.0.1:5500/PROJECTS/PROJECT%201/SRC/COMPONENTS/PUNJAB.html" target="_blank"><img src="../ASSETS/IMAGES/PUNJAB RESTAURENT/Punjabi-design-beauty-name-removebg-preview.png" alt=""style="width: 395px;"></a>

   

    <a href="http://127.0.0.1:5500/PROJECTS/PROJECT%201/SRC/COMPONENTS/MAHARASTRA.html"style="margin-left: 2rem;" target="_blank">MAHARASTRA RESTAURENT</a>
    <a href="http://127.0.0.1:5500/PROJECTS/PROJECT%201/SRC/COMPONENTS/GUJRAT.html"style="margin-left: 7rem;" target="_blank">GUJRAT RESTAURENT</a>
    <a href="http://127.0.0.1:5500/PROJECTS/PROJECT%201/SRC/COMPONENTS/DELHI.html"style="margin-left: 13rem;"target="_blank" >DELHI RESTAURENT</a>
    <a href="http://127.0.0.1:5500/PROJECTS/PROJECT%201/SRC/COMPONENTS/PUNJAB.html"style="margin-left: 20rem;"target="_blank" >PUNJAB RESTAURENT</a>
<hr>

</body>
</html>